@import '../../../App.css';

.top-header {
    padding: 1em 20em;
    background-color: var(--secondary-grey);
}

.bot-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20em;
}

.bot-sub-header {
    display: flex;
    align-items: center;
    gap: var(--primary-gap);
}