@import '../../../App.css';

main {
    background-color: var(--strong-blue);
    padding: var(--primary-padding);
}

hr {
    background-color: #fff;
    height: 1px;
    width: 100%;
}

.left-side-info {
    display: flex;
    flex-direction: column;
    padding: 2em 0; 
}